PORT=
MONGODB_URL=
JWT_SECRET=
NODE_ENV=
URL=
GROQ_API_KEY=
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=
REDIS_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MAILTRAP_SMTP_HOST=
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=